# Deps
node_modules
.pnpm-store
.pnpm
pnpm-lock.yaml

# Build output
dist
build
out
.next
.next/cache

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# Tests
coverage
jest.config.js
tests
__tests__
__mocks__

# Editor / OS files
.DS_Store
Thumbs.db
.vscode
.idea
*.swp
